# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# Database
*.sqlite3
*.db

# macOS
.DS_Store

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover

# PyInstaller
dist/
build/
*.spec

# pip wheel cache
*.whl

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
